@using System.Activities.Statements
@using Hospital_Management_System.Models
@model Hospital_Management_System.CollectionViewModels.ScheduleCollection

@{
    ViewBag.Title = "AddSchedule";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Schedule</li>
        <li class="active">Add Schedule</li>
    </ol>
</div>

<h2>Add Schedule</h2>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            @if (ViewBag.Messege != null)
            {
                <span class="text-danger">@ViewBag.Messege</span>
            }
            @Html.ValidationMessageFor(model => model.Schedule, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
</div>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*<div class="form-group">
        @Html.LabelFor(model => model.Schedule.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Schedule.DepartmentId, new SelectList(Model.Centres, "Id", "Name"), "Select Centre", new { @id = "dropdown", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Schedule.DepartmentId, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Schedule.PsychologistId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Schedule.PsychologistId, new SelectList(Model.Psychologists, "Id", "FullName"), "Select Psychologist", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Schedule.PsychologistId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Schedule.ScheduleDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Schedule.ScheduleDate, new { htmlAttributes = new { @class = "form-control" } })
           
            @Html.ValidationMessageFor(model => model.Schedule.ScheduleDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Schedule.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Schedule.StartTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Schedule.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Schedule.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Schedule.EndTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Schedule.EndTime, "", new { @class = "text-danger" })
        </div>
    </div>

    

    @*<div class="form-group">
            @Html.LabelFor(model => model.Schedule.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Schedule.Status, new SelectList(status, "Status", "Status"), "Select Status", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Schedule.Status, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "ListOfSchedules")
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
