@model IEnumerable<Hospital_Management_System.Models.Dto.ConsultationDto>

@{
    ViewBag.Title = "ListOfConsultation";
    Layout = "~/Views/Shared/_PsychologistLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Consultation</li>
        <li class="active">List of Consulation</li>
    </ol>
</div>

<h2>List Of Consultation</h2>

<table id="table_id" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentPlan)
            </th>
       
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentPlan)
                </td>
                
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#table_id").dataTable();
        });
    </script>
}