@model Hospital_Management_System.CollectionViewModels.AppointmentCollection

@{
    ViewBag.Title = "AddAppointment";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Appointment</li>
        <li class="active">Add Appointment</li>
    </ol>
</div>

<h2>Add Appointment</h2>


<p>
    @Html.ActionLink("====================================================Please Click Select Available time to book for your appointment!=============================================", "AddAppointment", null, new { @class = "btn btn-primary" })
</p>


<hr />



<hr />

<table id="table_id" class="table">
    <tbody>
        <tr>
            @foreach (var productGroup in Model.Schedules.Select((e, i) => new { Product = e, Grouping = (i / 4) }).GroupBy(e => e.Grouping))
            {
            <tr>
                @foreach (var product in productGroup.Select(x => x.Product))
                {
                <td>
                    <div typeof="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateAppointment", new {id = product.Id})';return false;">
                        <div class="col-md-10">
                            @product.CentreName
                        </div>
                        <div class="col-md-10">
                            @product.PsychologistName
                        </div>
                        <div class="col-md-10">
                            @product.ScheduleDate.ToShortDateString()
                        </div>
                        <div class="col-md-10">
                            @product.StartTime.ToShortTimeString() - @product.EndTime.ToShortTimeString()
                        </div>
                    </div>
                   
                </td>

                }
            </tr>
        }
            </tr>
        </tbody>

    </table>


    <div>
        @Html.ActionLink("Back to List", "ListOfAppointments")
    </div>

    @section scripts
{
        <script>
            $(function () {
                $("#dropdown").chosen();
            });
        </script>
        @Scripts.Render("~/bundles/jqueryval")

    }