@model Hospital_Management_System.CollectionViewModels.AppointmentCollection

@{
    ViewBag.Title = "EditAppointment";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Appointment</li>
        <li class="active">Edit Appointment</li>
    </ol>
</div>

<h2>Edit Appointment</h2>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            @if (ViewBag.Messege != null)
            {
                <span class="text-danger">@ViewBag.Messege</span>
            }
            @Html.ValidationMessageFor(model => model.Appointment, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Appointment.Schedule.PsychologistId)

        <div class="form-group">
            @Html.LabelFor(model => model.Appointment.Schedule.PsychologistName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <dd>
                    @Html.DisplayFor(model => model.Appointment.Schedule.PsychologistName)
                </dd>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Appointment.AppointmentDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <dd>
                    @Html.DisplayFor(model => model.Appointment.AppointmentDate)
                </dd>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Appointment.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <dd>
                    @Html.DisplayFor(model => model.Appointment.StartTime)
                </dd>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Appointment.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <dd>
                    @Html.DisplayFor(model => model.Appointment.EndTime)
                </dd>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Appointment.Problem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Appointment.Problem, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Appointment.Problem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Appointment" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListOfAppointments")
</div>

@section scripts
{
    <script>
        $(function () {
            $("#dropdown").chosen();
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")

}